body {
color: red;
}
/*
.col-xs-10 {
  border: 2px solid red;
  height: 150px;
}*/

h1 {
  margin-left: 50px;
}
#board2 {
  /*border: 2px solid blue;*/
  height: 150px;
  margin-top: 30px;
  position: relative;
  border-right: 4px dashed red;
  background-image: url("http://orig07.deviantart.net/bb47/f/2012/239/8/5/time_line_cover___cartoon_scenery_by_bd670816-d5cl7hp.jpg");
}

#board1 {
  /*border: 2px solid red;*/
  height: 150px;
  margin-top: 10px;
  position:relative;
  border-right: 4px dashed blue;
  background-image: url("http://orig07.deviantart.net/bb47/f/2012/239/8/5/time_line_cover___cartoon_scenery_by_bd670816-d5cl7hp.jpg");
}

#red{
  position: absolute;
  height: 100px;
  width: auto;
  margin-top: 45px;
}

#blue{
  position: absolute;
  height: 100px;
  width: auto;
  margin-top: 45px;
  transform: scaleX(-1);

}

.row-info {
  margin-top: 50px;
  margin-bottom: 10px;
  height:50px;
  /*background-color: green;*/
}

.centered {
  text-align: center;
}

.start {
  margin-bottom: 10px;
}


p {
  text-align:right;
  margin-right: 5%;
  color: black;
  /*transform: rotate(-90deg);*/
}

.obstacle {
  display: none
  margin-left: 1000px;
  margin-top: 110px;
  height: 40px;
  position: absolute;
}
