body {
color: red;
}
/*
.col-xs-10 {
  border: 2px solid red;
  height: 150px;
}*/

h1 {
  margin-left: 20px;
}
#board2 {
  /*border: 2px solid blue;*/
  height: 250px;
  margin-top: 30px;
  position: relative;
  border-right: 4px dashed red;
}

#board1 {
  /*border: 2px solid red;*/
  height: 250px;
  margin-top: 10px;
  position:relative;
  border-right: 4px dashed blue;
}

#red{
  position: absolute;
  height: 14px
  width: auto
}

#blue{
  position: absolute;
  height: 14px
  width: auto

}

/*.row {
  border-right: 2px solid blue;
  background-color: blue;
  height: 300px;
  margin-left: 20pxl
}*/
