body {
color: green;
}
/*
.col-xs-10 {
  border: 2px solid red;
  height: 150px;
}*/
#board2 {
  border: 2px solid blue;
  height: 80px;
  margin-top: 10px;
  position: relative;
  background-color: black
}

#board1 {
  border: 2px solid red;
  height: 80px;
  margin-top: 10px;
  position:relative;
  background-color: yellow
}

#red{
  position: absolute;
}

.row {
  background-color: green
}
